@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@model IEnumerable<WebProgrammingProject.Models.ProductViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="" style="margin:100px">
    <div class="container d-flex h-100">
        <div class="mx-auto">
            @*<img src="~/assets/img/fatboy2020.png" />*@
            @foreach (var item in Model)
            {
                <div class="card" style="width: 40rem;">
                    <img src="@Url.Content(item.ImagePath)" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</h5>
                        <p class="card-text">
                            @localizer["Stock Amount"]: @Html.DisplayFor(modelItem => item.StockAmount)<br />
                            @localizer["Price"]: @Html.DisplayFor(modelItem => item.Price)<br />
                        </p>
                        <a id="buy" data-id="@item.ProductID" href="#" class="btn btn-primary">@localizer["Buy"]</a>
                    </div>
                </div>
                <br />
            }
        </div>
    </div>
</header>


<script>
    $(document).ready(function () {
        buy();
    });

    function buy() {

        $('#buy').on('click', function () {

            let productID = $(this).attr("data-id");

            $.ajax({
            url: '@Url.Action("BuyMotorcycle","Store")',
                type: "POST",
                data: { motoID: productID },
                success: function (data) {
                    if (data == "success") {
                        alert("Success"
                        ).then(function () {
                            window.location.href = '@Url.Action("Index","Store")';
                        });
                    }
                    else
                        alert("Failed");
            }
            });
        })
    }
</script>


